
<div class="text-center" style="color: black"><h2>Edit Customer</h2></div>
<div><a href="/customer"><i class="fa-sharp fa-solid fa-house-user"></i>Back To Employee List</a></div>
<div id="form" style="text-align: center">

  <form action="/customer/save"
        method="post" novalidate="novalidate">

    <div>
      <label><b>Customer Name</b></label>
      <input type="text"/>
    </div>

    <div>
      <label><b>Date of birth</b></label>
      <input type="date"/>
    </div>

    <div>
      <label><b>Gender</b></label>
      <div class="d-flex">
        <label class="d-block me-4">
          <input type="radio" th:value="1" name="customerGender" th:field="*{gender}" th:text="Male">
          <i class="fa-solid fa-mars"></i>
        </label>
        <label class="d-block">
          <input type="radio" th:value="0" name="customerGender" th:field="*{gender}"
                 th:text="Female">
          <i class="fa-solid fa-venus"></i>
        </label>
      </div>
    </div>
    <div>
      <label><b>Id Card</b></label>
      <input type="text"/>
    </div>
    <div>
      <label><b>Phone Number</b></label>
      <input type="number"/>
    </div>

    <div>
      <label><b>Email</b></label>
      <input type="email"/>
    </div>
    <div>

      <label><b>Address</b></label>
      <input type="text"/>
    </div>

    <div>
      <label><b>Customer type</b></label>
      <select>
        <option>Silver</option>
        <option>Gold</option>
        <option>Diamond</option>
        <option>Platinum</option>
      </select>
    </div>
    <input id="save" type="submit" value="Save"/>
  </form>
</div>

